<!-- .crousel slide -->
          <section class="panel">
            <div class="carousel slide auto panel-body" id="c-slide">
                <ol class="carousel-indicators out">
                  <li data-target="#c-slide" data-slide-to="0" class=""></li>
                  <li data-target="#c-slide" data-slide-to="1" class="active"></li>
                  <li data-target="#c-slide" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <p class="text-center">
                      <em class="h4 text-mute">Werbebanner 1</em><br>
                      <small class="text-muted">Many components</small>
                    </p>
                  </div>
                  <div class="item">
                    <p class="text-center">
                      <em class="h4 text-mute">Werbebanner 2</em><br>
                      <small class="text-muted">Full documents</small>
                    </p>
                  </div>
                  <div class="item">
                    <p class="text-center">
                      <em class="h4 text-mute">Werbebanner 3</em><br>
                      <small class="text-muted">Mobile/Tablet/Desktop</small>
                    </p>
                  </div>
                </div>
                <a class="left carousel-control" href="#c-slide" data-slide="prev">
                  <i class="fa fa-chevron-left"></i>
                </a>
                <a class="right carousel-control" href="#c-slide" data-slide="next">
                  <i class="fa fa-chevron-right"></i>
                </a>
            </div>
          </section>
          <!-- / .carousel slide -->
 


      <div class="row">

        <div class="col-lg-4">
          <section class="panel">
            <header class="panel-heading">
              Deine Statistik
            </header>
            <div class="panel-body text-center">
              <h4>62.5<small> Prozent</small></h4>
              <small class="text-muted block">Vor 2 Minuten aktualisiert...</small>
              <div class="inline">
                <div class="easypiechart" data-percent="75" data-line-width="16" data-loop="false" data-size="188">
                  <span class="h2" style="margin-left:10px;margin-top:10px;display:inline-block">75</span>%
                  <div class="easypie-text"><button class="btn btn-link m-t-n-small" data-toggle="class:pie"><i class="fa fa-play text text-muted"></i><i class="fa fa-pause text-active text-muted"></i></button></div>
                </div>
              </div>
              <div class="line pull-in"></div>
              <div><small>Super, du bist fast fertig!</small></div>
            </div>
          </section>
        </div>
      </div>